/* style.css */

/* 초기화 */
* { margin: 0; padding: 0; 
    box-sizing: border-box;
}

ul, li { list-style-type: none;}
a { text-decoration: none;
    color: #333333;
}

body {
    color: #333333;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #fff;
    position: relative;
}

/* 헤더 영역 */

#main_header {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /* outline: 1px solid red; */
}
#main_header > h1 {

    padding: 30px;
    float: left;
    /* outline: 1px solid #000; */
}

/* 메인 메뉴 */
#main_gnb {
    position: absolute;
    width: 1200px;
    /* background: #ccc; */
    top: 70px;
    text-align: right;
    z-index: 999;

}
/* 1단계 메뉴 */
#main_gnb > .depth1 {
    position: absolute;
    right: 0;
    overflow: hidden;

}
#main_gnb > .depth1 > li {
    display: inline-block;
}
#main_gnb > .depth1 > li > a{
    width: 140px;
    text-align: center;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
}
#main_gnb > .depth1 >li > a:last-child {
    margin-right: 10px;
}
#main_gnb > .depth1 > li > a:hover{
    border-bottom: 3px solid #000;
}

/* 2단계 메뉴 */
#main_gnb .depth2_box.show {
    margin-top: 27px;
    width: 1200px;
    text-align: right;
    background: #bb692d;
    /* outline: 1px solid green; */
    overflow: hidden;
    height: 140px;
}
#main_gnb .depth2_box {
    height: 0;
    transition-duration: 0.4s;
}
#main_gnb .depth2.show {
    margin: 10px 0;
    width: 12%;
    display: inline-block;
    line-height: 30px;
    /* overflow: hidden; */
    font-size: 14px;
}
#main_gnb .depth2 a {
    color: #fff;
}
#main_gnb .depth2{
    display: none;
    transition-duration: 0.5s;
}
#main_gnb .depth2:last-child {
    margin-right: 50px;
}
#main_gnb .depth2 a:hover {
    color: #7b422e;
}

/* 팝업창 */
.popup.show {
    position: absolute;
    z-index: 999;
    right: 20px; top: 50px;
    width: 300px; height: 400px;
    background: #fff;
    padding: 1em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    display: block;
}
.popup h2{
    margin-bottom: 30px;
}
.popup p {
    margin-bottom: 20px;
    margin-top: 20px;
}
.popup img {
    width: 250px;
    margin-bottom: 10px;
}
.popup > .close_box {
    position: absolute;
    bottom: 0; left: 0;
    text-align: right;
    width: 100%;
    background: #83d154;
    padding: 7px;
}
.popup{
    display: none;
}
/* 매인 배너 */
#main_banner {
    clear: both;
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    /* background: #ccc; */
    margin-bottom: 40px;
}

/* 콘텐츠 영역 */

/* 공지사항 */
#contents {
    clear: both;
    position: absolute;
    min-width: 100%;
    height: 220px;
}
#contents > .c_box {
    width: 1200px;
    margin: 0 auto;
} 
#contents > .c_box > .c1 {
    float: left;
    width: 400px;
    font-size: 12px;
    padding: 10px;
}
#contents .c1 > ul > li {
    margin-top: 20px;
}
#contents .c1 span {
    margin-left: 10px;
}
#contents .c1 h3 , .c2 h3 {
    font-size: 16px;
}

/* 갤러리 */
#contents .c2 {
    float: left;
    width: 400px;
    height: 220px;
    padding: 10px;
}
#contents .c2 img {
    margin-left: 3px;
    width: 120px;
    margin-top: 50px;
}

/* 배너 */
#contents .c3 img {
    width: 400px;
    height: 220px;
    margin-top: 14px;
}

/* 푸터 영역 */
 
#main_footer {
    position: relative;
    width: 1200px; height: 100px;
    border-top: 2px solid #7b422e;
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
#main_footer .copyright {
    font-size: 10px;
    margin-top: 10px;
}
#main_footer img {
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
    left: 0;
}
#family {
    position: absolute;
    right: 30px;
    top: 35px;
    height: 30px;
}